#background {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    filter: blur(5px);
}

#content {
    
    width: 90vw;
    height: 90vh;  
    margin: auto;
    margin-top: 20vh;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5vw;
}

#content > div {

    padding: 20px;

    border-radius: 5px;
    background-color: white;
    border: 2px solid white;
}

h1 {
    font-family: "Space Mono";
}

p {
    font-size: 1.5em;
    font-family: "Inconsolata";
}

#food > img {
    object-fit: contain;
}
