@font-face {
  font-family: "Alarm Clock";
  src: url(alarm\ clock.ttf);
}

:root {
  --green: #00F000;
}

body {
  margin: 0;
  padding: 0;
  background-color: #001100;
}

h1 {
  font-family: "Alarm Clock";
  color: var(--green);
  text-shadow: 0px 0px 5px var(--green);
}