#body {

    padding: 0.8vw;
    padding-top: 10vh;
    

}

h2 {
    
    color: var(--green);
    font-size: 3vw;
    font-weight: normal;
    text-shadow: 0px 0px 4px var(--green);
    font-family: "Inconsolata", monospace;
}