<div id="project-navigator">
    <p>YEGGS</p>
    <p>OTHER</p>
</div>

<div id="projects">
    <ng-container *ngFor="let project of projectsList[0]; let odd = odd">

        <div [ngClass]="{'project': true, 'reverse': odd}">
            
            <carousel [slides]="project.slides"></carousel>

            <div>
                <h1>{{project.name}}</h1>
                <h3>Role: {{project.role}}</h3>
                <p [innerHTML]="project.description"></p>
            </div>  
        </div>
    </ng-container>
</div>