<div class="project">
    <img src="../../assets/images/projects/tower_defense.png" alt="Tower Defense">
    <div>
        <h1>Tower Defense</h1>
        <h3>Role: Developer</h3>
        <p>Tower Defense was the first project I worked on when I first joined Yeggs back in 2020.</p>
    </div>
</div>

<div class="project">
    <img src="../../assets/images/projects/tower_defense.png" alt="Tower Defense">
    <div>
        <h1>Tower Defense</h1>
        <h3>Role: Developer</h3>
        <p>Tower Defense was the first project I worked on when I first joined Yeggs back in 2020. </p>
    </div>
</div>

<div class="project">
    <img src="../../assets/images/projects/tower_defense.png" alt="Tower Defense">
    <div>
        <h1>Tower Defense</h1>
        <h3>Role: Developer</h3>
        <p>Tower Defense was the first project I worked on when I first joined Yeggs back in 2020. </p>
    </div>
</div>