<div style="--delay: 0.05s" class="project">
    <carousel [slides]="towerDefenseSlides"></carousel>
    <div>
        <h1>Tower Defense</h1>
        <h3>Role: Developer</h3>
        <p>This was the first project I worked on when I first joined <a href="https://www.yeggs.org/" target="_blank">Yeggs</a> back in 2020. 
            I made major contributions to core mechanics, and was responsible for the design of both
            the towers and enemies. I also designed all of the game's balancing and progression.
            <br><br>
            It released on <a href="https://www.minecraft.net/en-us/article/new-java-realms--it-s-java-realms-day" target="_blank">Minecraft Realms</a> in December 2020.
        </p>
    </div>
</div>

<div style="--delay: 0.2s" class="project">
    <div>
        <h1>Horse Riders</h1>
        <h3>Role: Developer</h3>
        <p>Horse Riders is a simple racing game with powerups. I developed the placement and timer systems.
            <br><br>
            It released on <a href="https://www.minecraft.net/en-us/article/new-java-realms--career-choices" target="_blank">Minecraft Realms</a> in March 2022.
        </p>
    </div>
    <carousel [slides]="horseRidersSlides"></carousel>
</div>

<div style="--delay: 0.35s" class="project">
    <carousel [slides]="phoenixFightersSlides"></carousel>
    <div>
        <h1>Phoenix Fighters</h1>
        <h3>Role: Lead Developer</h3>
        <p>Phoenix Fighters is a platform fighter where players gain permanent powerups when they die.
             As the head of a six person team, I designed and developed the game from the ground up.
            <br><br>
            It released on <a href="https://www.yeggs.org/java/phoenix-fighters" target="_blank">our website</a> in November 2023.
        </p>
    </div>
</div>

<div style="--delay: 0.5s" class="project">
    <div>
        <h1>More Food</h1>
        <h3>Role: Lead Developer</h3>
        <p>More Food makes some simple food additions to Minecraft. 
            This is the first project I developed after joining the Marketplace branch of Yeggs at the end of 2023.
            <br><br>
            It released the <a href="https://www.minecraft.net/en-us/marketplace/pdp?id=01cff43f-b2f6-4cde-b48f-1be70e7fd731" target="_blank">Minecraft Marketplace</a> in April 2024.
        </p>
    </div>
    <carousel [slides]="moreFoodSlides"></carousel>
</div>