<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <nav>
        <a routerLink="/" routerLinkActive="active">SPAd4</a>
        <a class="social"><img src="../assets/images/socials/discord.png" alt="Discord"></a>
        <a class="social"><img src="../assets/images/socials/reddit.png" alt="Reddit"></a>
        <a class="social"><img src="../assets/images/socials/yahoo.png" alt="Email"></a>
        <span></span>
        <a class="navlink" routerLink="/projects" routerLinkActive="active">PROJECTS</a>
        <a class="navlink" routerLink="/about-me" routerLinkActive="active">ABOUT ME</a>
        <a class="navlink">?????</a>
    </nav>

  <div>
    <router-outlet></router-outlet>
  </div>
</body>

</html>