<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <nav>
        <a>SPAd4</a>
        <a class="links">Socials</a>
        <a class="links">Projects</a>
        <a class="links">About Me</a>
        <a class="links">?????</a>
    </nav>

  <div>
    <p>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
        <br><br><br><br><br><br><br><br>
        AAAAAAA
        AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
        <br><br><br><br><br><br><br><br>
        AAAAAAA
        AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
        <br><br><br><br><br><br><br><br>
        AAAAAAA
        AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
        <br><br><br><br><br><br><br><br>
        AAAAAAA
        AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
        <br><br><br><br><br><br><br><br>
        AAAAAAA
    </p>
    <router-outlet></router-outlet>
  </div>
  
</body>

</html>