@font-face {
    font-family: "Alarm Clock";
    src: url(assets/fonts/alarm\ clock.ttf);
  }
  
  :root {
    --green: #00F000;
    --dark-green: #000800;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: var(--dark-green);
    width: 66vw;
    margin: auto;
  }